* {
  background-color: #f4a261;
  color: aliceblue;
}

.content {
  margin-top: 25%;
  margin-bottom: 25%;
  margin-right: 15%;
  margin-left: 15%;
  /* margin: 25%; */
  /* border: 4px solid aliceblue; */
}

.text {
  text-align: center;
  padding: 20px 0px;
}

.text > h1,
h3 {
  padding-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  flex: 0.15;
  text-align: center;
  padding: 25px;
  border-color: beige;
  border-radius: 25px;
  margin-right: 10px;
  font-size: 25px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  text-decoration: none;
  border: 4px solid aliceblue;
}

.btn:hover {
  transform: scale(1.1);
}

.clock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.clockItem > h4 {
  margin-right: 15px;
}

.clockItem > span {
  font-weight: 800;
  font-size: 35px;
}
